.parallax {
    background: url(images/1.jpg) no-repeat;
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: animate 30s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        background-image: url(images/1.jpg);
    }

    25% {
        background-image: url(images/2.png);
    }

    50% {
        background-image: url(images/3.jpg);
    }

    75% {
        background-image: url(images/4.jpg);
    }

}

.parallax-inner {
    background-color: rgb(0, 0, 0, 0.5);
    height: 110vh;
}

.parallax-txt {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 40%;
    font-size: 50px;
    padding: 0px 20px;
}



button {
    position: relative;
    top: 50%;
    width: 200px;
    padding: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
    /* border: 2px solid white; */
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
    margin: 10px ;
    
}

button:hover {
    box-shadow: 0 5px 5px inset, 
        0 5px 5px 0 white, 0 5px 5px inset, 0 5px 5px 0 white;
}